<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net920vip.mapper.UserMapper">


    <!-- resultMap -->
    <resultMap type="net920vip.bean.UserBean" id="userResultMap">
        <!-- 要那几个字段 写哪几个字段 -->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="sex" property="sex"/>
    </resultMap>

    <resultMap id="ordersUserMap" type="Orders">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <!-- 一对一关联：association -->
        <association property="userBean" javaType="UserBean">
            <id property="id" column="user_id"/>
            <result column="username" property="username"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>

    <resultMap id="orderdetailsMap" type="Orders">
        <id column="id" property="id"/>
        <result property="user_id" column="userId"/>
        <result property="number" column="number"/>
        <!-- 一对多关联：conllection -->
        <collection property="orderdetails" ofType="Orderdetail">
            <id column="orderdetail_id" property="id"/>
            <result column="items_id" property="itemsId"/>
            <result column="items_num" property="itemsNum"/>
        </collection>
    </resultMap>


    <!-- 抽取模板-->
    <sql id="query_user_sql">
        <if test="id!=null and id!=''">
            and id=#{id}
        </if>
        <if test="username!=null and username!=''">
            and username like "%#{username}%"
        </if>
    </sql>


    <!-- 根据id查询user -->
    <select id="findUserById" parameterType="int" resultType="UserBean">
    select * from user where id = #{id}
    </select>
    <!-- 根据id查询user 对应resultMap -->
    <!--    <select id="findUserById" parameterType="int"-->
    <!--            resultMap="userResultMap">-->
    <!--    select * from user where id = #{id}-->
    <!--    </select>-->

    <!-- 根据用户名模糊查询 -->
    <select id="findUserByUsername" parameterType="java.lang.String" resultType="net920vip.bean.UserBean">
    select * from user where username like '%${value}%'
    </select>

    <!-- 新增用户 -->
    <insert id="insertUser" parameterType="net920vip.bean.UserBean">
        insert into user(username,sex,birthday,address) values(#{username},#{sex},#{birthday},#{address})
    </insert>

    <!-- 删除用户 -->
    <delete id="deleteUserById" parameterType="int">
        delete from user where id = #{id}
    </delete>

    <!-- 修改用户 -->
    <update id="updateUserById" parameterType="net920vip.bean.UserBean">
        update user set username=#{username},
                        sex=#{sex},
                        birthday=#{birthday},
                        address=#{address}
                        where id = #{id}

    </update>

    <!-- 传递pojo综合查询用户信息 -->
    <!--<select id="findUserList" parameterType="UserBean" resultType="UserBean">-->
    <!--    select * from user where 1=1-->
    <!--    <if test="id!=null and id!=''">-->
    <!--        and id=#{id}-->
    <!--    </if>-->
    <!--    <if test="username!=null and username!=''">-->
    <!--        and username like "%#{username}%"-->
    <!--    </if>-->
    <!--</select>-->

    <!-- 传递pojo综合查询用户信息 -->
    <select id="findUserList" parameterType="UserBean" resultType="UserBean">
        select * from user
        <where>
            <!--            <if test="id!=null and id!=''">-->
            <!--                and id=#{id}-->
            <!--            </if>-->
            <!--            <if test="username!=null and username!=''">-->
            <!--                and username like "%#{username}%"-->
            <!--            </if>-->
            <include refid="query_user_sql"/>
        </where>
    </select>

    <select id="selectUserByIds" parameterType="java.util.List" resultType="UserBean">
        select * from user
        <where>
            <if test="list != null">
                <foreach collection="list" item="id" open="and id in(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 一对一查询，resultType -->
    <select id="findOrdersList" resultType="OrdersCustom">
        select orders.*, user.username,user.address
        from orders,user
        where orders.user_id=user.id;
    </select>


    <!-- 一对一查询，resultMap -->
    <select id="findOrdersListMap" resultMap="ordersUserMap">
        select orders.*, user.username,user.address
        from orders,user
        where orders.user_id=user.id;
    </select>

    <!-- 一对多查询，resultMap -->
    <select id="findOrdersDetailList" resultMap="orderdetailsMap">
        select orders.*, orderdetail.id orderdetail_id,orderdetail.items_id,orderdetail.items_num
        from orders,orderdetail
        where orders.id = orderdetail.orders_id;
    </select>

</mapper>
